<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Personal Finance Tracker</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="/flask_app/static/styles/styles.css/">
    </head>

    <body>

        <div class="nav-bar">
            <a href="/"><button class="dropbtn">Home</button></a>
            <div class="dropdown">

                <button class="dropbtn">Transactions V</button>
                <div class="dropdown-content">
                    <a href="/see-all">See & Manage Transactions</a>
                    <a href="/add-transaction">Add a Transactions</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Categories V</button>
                <div class="dropdown-content">
                    <a href="/see-categories">See & Manage Categories</a>
                    <a href="/add-category">Add a Category</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Advanced Options V</button>
                <div class="dropdown-content">
                    <a href="/see-stats">See my Stats</a>
                    <a href="/see-json">View Transactions as JSON</a>
                </div>

            </div>
        </div>
        <div class="banner">

            <img src="/static/styles/banner.jpg">

            <div class="banner-text-center">
                <h1 class="home-h1">Welcome to Your Personal Finance Tracker</h1>
                <h2 class="home-h2">You've come to the right place to take control of your financial future!</h2>
            </div>
        </div>

        <h2 class="center-text">Fill out and submit this form to edit a previously entered transaction.</h2>
        <h3 class="center-text">Each transaction must have an associated category. If you need to add a new category,
            you can <a href="/add-category">do so here</a>.</h3>

        <form method="post" action="/edit-transaction/{{ transaction[0] }}">
            <div class="flexbox">

                <div class="form-field">
                    <input type="hidden" id="transaction_id" name="transaction_id" value="{{ transaction[0] }}"><br>

                </div>


                <div class="form-field">
                    <label for="transaction_type">Transaction Type:</label><br>
                    <select name="transaction_type" id="transaction_type">
                        <option value="{{ transaction[1] }}" selected>{{ transaction[1] }}</option>
                        <option value="{{ type }}">{{ type }}</option>
                    </select>
                </div>

                <div class="form-field">
                    <label for="transaction_amount">Amount:</label><br>
                    <input type="number" id="transaction_amount" value="{{ transaction[2] }}" name="transaction_amount"><br>

                </div>

                <div class="form-field">
                    <label for="transaction_date">Date:</label><br>
                    <input type="date" id="transaction_date" name="transaction_date" value="{{ transaction[3] }}"><br>

                </div>

                <div class="form-field">
                    <label for="transaction_category">Category:</label><br>
                    <select name="transaction_category">
                        <option value="{{ transaction[4] }}" selected>{{ category[1] }}</option>
                        {% for r in rows %}
                            <option value="{{ r[0] }}">{{ r[1] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-field">
                    <label for="transaction_description">Description:</label><br>
                    <input type="text" id="transaction_description" name="transaction_description" value="{{ transaction[5] }}"><br>

                </div>
                <div class="form-field">
                     <input type="submit" value="Update" class="form-button">
                </div>


            </div>



        </form>




    </body>

</html>