<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Personal Finance Tracker</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="/flask_app/static/styles/styles.css/">
    </head>

    <body>

        <div class="nav-bar">
            <a href="/"><button class="dropbtn">Home</button></a>
            <div class="dropdown">

                <button class="dropbtn">Transactions V</button>
                <div class="dropdown-content">
                    <a href="/see-all">See & Manage Transactions</a>
                    <a href="/add-transaction">Add a Transactions</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Categories V</button>
                <div class="dropdown-content">
                    <a href="/see-categories">See & Manage Categories</a>
                    <a href="/add-category">Add a Category</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Advanced Options V</button>
                <div class="dropdown-content">
                    <a href="/see-stats">See my Stats</a>
                    <a href="/see-json">View Transactions as JSON</a>
                </div>

            </div>
        </div>
        <div class="banner">

            <img src="/static/styles/banner.jpg">

            <div class="banner-text-center">
                <h1 class="home-h1">Welcome to Your Personal Finance Tracker</h1>
                <h2 class="home-h2">You've come to the right place to take control of your financial future!</h2>
            </div>
        </div>

        <div class="cta" >What would you like to accomplish today?</div>
        <div class="btn">
            <div>
                <div><h3>Transactions</h3></div>
                <div class="button"><a href="/see-all">View and Manage Transactions</a></div>
                <div class="button"><a href="/add-transaction">Add New Transaction</a></div>


            </div>
            <div>
                <div><h3>Categories</h3></div>
                <div class="button"><a href="/see-categories">View and Manage Categories</a></div>
                <div class="button"><a href="/add-category">Add a Category</a></div>
            </div>
            <div>
                <div><h3>Advanced Options</h3></div>
                <div class="button"><a href="/see-stats">View Stats</a></div>
                <div class="button"><a href="/see-json">Convert Transaction Data to JSON</a></div>
            </div>

        </div>

        <div class="line">hello</div>
        <div class="center-text">If you're enjoying Personal Finance Tracker, <a href="/tweet">click here</a> to learn how you can support us.</div>

    </body>

</html>