<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Personal Finance Tracker</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="/flask_app/static/styles/styles.css/">
    </head>

    <body>

        <div class="nav-bar">
            <a href="/"><button class="dropbtn">Home</button></a>
            <div class="dropdown">

                <button class="dropbtn">Transactions V</button>
                <div class="dropdown-content">
                    <a href="/see-all">See & Manage Transactions</a>
                    <a href="/add-transaction">Add a Transactions</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Categories V</button>
                <div class="dropdown-content">
                    <a href="/see-categories">See & Manage Categories</a>
                    <a href="/add-category">Add a Category</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Advanced Options V</button>
                <div class="dropdown-content">
                    <a href="/see-stats">See my Stats</a>
                    <a href="/see-json">View Transactions as JSON</a>
                </div>

            </div>
        </div>
        <div class="banner">

            <img src="/static/styles/banner.jpg">

            <div class="banner-text-center">
                <h1 class="home-h1">Welcome to Your Personal Finance Tracker</h1>
                <h2 class="home-h2">You've come to the right place to take control of your financial future!</h2>
            </div>
        </div>
        <div class="cta">Good news! We've analyzed your transactions, and you can see the results of our calculations below. </div>
        <h3 class="center-text">Here are your overall metrics:</h3>

         <div class="table-container">
             <table class="table">
              <thead>
                <tr>
                  <th scope="col">Total # of Transactions</th>
                  <th scope="col">Total Income</th>
                  <th scope="col">Total Expenses</th>
                  <th scope="col">Total Cash Flow</th>


                </tr>
              </thead>
              <tbody>



                <tr>
                    <td>{{ overall[0] }}</td>
                    <td>{{ overall[1] }}</td>
                    <td>{{ overall[2] }}</td>
                    <td>{{ overall[3] }}</td>

                </tr>


              </tbody>
            </table>
         </div>


        <h3 class="center-text">Here are your metrics per category:</h3>

        <div class="table-container">
             <table class="table">
              <thead>
                <tr>
                  <th scope="col">Category ID</th>
                  <th scope="col">Category Name</th>
                  <th scope="col">Category Income ($)</th>
                  <th scope="col">Category Expenses ($) </th>
                  <th scope="col">Category Cash Flow</th>
                  <th scope="col">Over Budget?</th>

                </tr>
              </thead>
              <tbody>
                {% for c in stats_by_cat %}


                <tr>
                    <td>{{ c[0] }}</td>
                    <td>{{ c[1] }}</td>
                    <td>{{ c[2] }}</td>
                    <td>{{ c[3] }}</td>
                    <td>{{ c[4] }}</td>
                    <td>{{ c[5] }}</td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
         </div>




    </body>



</html>